@model HomeManager.Model.Web.Media.IndexModel

@{
    ViewBag.Title = "Media";
}

<h2>Media Home</h2>

<div>
    Movie Count: @Model.MovieCount <br/>
    TV Show Count: @Model.TvShowCount <br />
    TV Episode Count: @Model.TvEpisodeCount
</div>